# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/
config.yaml
real_data/
data/
dev-data/
dev-data-*/

!cognite/neat/workflows/examples/config.yaml

requirements.txt

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
!cognite/neat/workflows/steps/lib


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
!tests/data
# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# mypy
.mypy_cache/
data/.DS_Store
.vscode/settings.json
.DS_Store
.vscode/
.DS_Store
default.profraw

# private data
data/cim-export
data/temp

docker/vol_data/*
docker/vol_shared/*

cognite/neat/ui/neat-app/node_modules
!cognite/neat/ui/neat-app/build


# local notebooks
local/
playground/

tests/data/report.txt
tests/data/transformation_rules.xlsx
docs/tutorial/notebooks/power-grid-graph-capture.xls
tests/data/970_0ca0c919-046a-4940-b191-f5cc4d0e6513.json
build/*
scripts/tmp/*
scripts/config_manual_test.yaml
real_cases/
*.env

# Excel chache files
~*.xlsx
docs/**/*.aml
docs/**/*.xml
tmp/