repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.16
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev:  v0.9.1
    hooks:
      - id: ruff
        args:
          - --exit-non-zero-on-fix
      - id: ruff-format
        args:
          - --line-length=120

  - repo: https://github.com/frnhr/pre-commit-nocommit
    rev: 0.0.1
    hooks:
      - id: check-nocommit

# Mypy must be run in the local system environment, not in the pre-commit environment.
  - hooks:
    - id: mypy
      name: mypy
      entry: dmypy run -- cognite/neat/ tests/
      files: ^.*.(py|pyi)$
      language: system
      pass_filenames: false
    repo: local
