site_name: NEAT
docs_dir: docs
use_directory_urls: false
theme:
  name: material
  features:
    - content.code.copy
    - content.tooltips
  logo: artifacts/figs/logo.png
  favicon: artifacts/figs/logo.png
  palette:
    primary: indigo

nav:
  - Home: index.md
  - Data Modeling Principles: data-modeling-principles.md
  - Getting Started:
      - Why NEAT?: gettingstarted/why-neat.md
      - Installation: gettingstarted/installation.md
  - Tutorials:
      - Introduction:
          - Introduction: tutorials/introduction/introduction.ipynb
#      - Data Modeling Lifecycle:
#          - Overview: tutorials/data-modeling-lifecycle/overview.md
#          - Knowledge Acquisition: tutorials/data-modeling-lifecycle/part-1-knowledge-acquisition.md
#          - Analytic Solution Model: tutorials/data-modeling-lifecycle/part-2-analytic-solution.md
#          - Extending Enterprise Model: tutorials/data-modeling-lifecycle/part-3-extending-enterprise-model.md
#          - Extending Solution Model: tutorials/data-modeling-lifecycle/part-4-extending-solution-model.md
#          - Business Solution Model: tutorials/data-modeling-lifecycle/part-5-business-solution-model.md
#          - User Personas: tutorials/data-modeling-lifecycle/user-personas.md
      - Data Onboarding:
        - CSV Onboarding: tutorials/data-onboarding/csv_onboarding.ipynb
        - Multi CSVs Onboarding: tutorials/data-onboarding/multi_csv_onboarding.ipynb
        - CDF Classic Onboarding: tutorials/data-onboarding/asset_hierarchy_migration.ipynb
        - RDF Onboarding : tutorials/data-onboarding/nordic44_onboarding.ipynb
        - DEXPI Onboarding: tutorials/data-onboarding/dexpi/dexpi_onboarding.ipynb
        - AML Onboarding: tutorials/data-onboarding/aml/aml_onboarding.ipynb
      - Data Modeling:
        - Extending Data Model: tutorials/data-modeling/core_extension.ipynb
  - Data Model in Spreadsheet:
      - Overview: excel_data_modeling/rules.md
      - Logical Data Model:
          - Overview: excel_data_modeling/logical/overview.md
          - Reference: excel_data_modeling/logical/reference.md
          - Properties: excel_data_modeling/logical/properties.md
      - Physical Data Model:
          - Overview: excel_data_modeling/physical/overview.md
          - Reference: excel_data_modeling/physical/reference.md
          - Properties: excel_data_modeling/physical/properties.md
          - Views: excel_data_modeling/physical/views.md
      - Units: excel_data_modeling/units.md
  - NeatSession:
      - Session: reference/NeatSession/base.md
      - Read: reference/NeatSession/read.md
      - Prepare: reference/NeatSession/prepare.md
      - To: reference/NeatSession/to.md
      - Inspect: reference/NeatSession/inspect.md
      - Show: reference/NeatSession/show.md
      - Drop: reference/NeatSession/drop.md
  - Contributor Docs:
      - Overview: reference/overview.md
      - Issues:
          - Base: reference/issues/base.md
          - Errors: reference/issues/errors.md
          - Warnings:
            -  Main: reference/issues/warnings.md
            -  UserModeling: reference/issues/user_model_warnings.md
  - Changelog: CHANGELOG.md

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - abbr
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: "#"

plugins:
  - mkdocs-jupyter:
      execute: false
      ignore_h1_titles: True
      include_source: True
      remove_tag_config:
        remove_input_tags:
          - hide
  - glightbox:
      width: 100%
      height: auto
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: true
            show_source: true
            members_order: source
  - autorefs
  - search
