site_name: NEAT
docs_dir: docs
use_directory_urls: false
theme:
  name: material
  features:
    - content.code.copy
    - content.tooltips
  logo: artifacts/figs/logo.png
  favicon: artifacts/figs/logo.png
  palette:
    primary: indigo

nav:
  - Home: index.md
  - Validations:
      - Connections (NEAT-DMS-CONNECTIONS): validation/index.html#connections-neat-dms-connections
      - Consistency (NEAT-DMS-CONSISTENCY): validation/index.html#consistency-neat-dms-consistency
      - Limits (NEAT-DMS-LIMITS): validation/index.html#limits-neat-dms-limits
      - Views (NEAT-DMS-VIEW): validation/index.html#views-neat-dms-view
  - Data Modeling Principles: data-modeling-principles.md
  - Getting Started:
      - Why NEAT?: gettingstarted/why-neat.md
      - Installation: gettingstarted/installation.md
  - Tutorials:
      - Introduction:
          - Introduction: tutorials/introduction/introduction.ipynb
      - Data Modeling:
        - My First Data Model: tutorials/data-modeling/cold_start.ipynb
        - From Conceptual to Physical Data Modeling: tutorials/data-modeling/from-conceptual-to-physical-via-CDM.ipynb
  - Data Model in Spreadsheet:
      - Overview: excel_data_modeling/data_model.md
      - Conceptual Data Model:
          - Overview: excel_data_modeling/conceptual/overview.md
          - Reference: excel_data_modeling/conceptual/reference.md
      - Physical Data Model:
          - Overview: excel_data_modeling/physical/overview.md
          - Reference: excel_data_modeling/physical/reference.md
          - Properties: excel_data_modeling/physical/properties.md
          - Views: excel_data_modeling/physical/views.md
          - Enum: excel_data_modeling/physical/enum.md
      - Units: excel_data_modeling/units.md
  - NeatSession:
      - Session: reference/NeatSession/base.md
      - Read: reference/NeatSession/read.md
      - Template: reference/NeatSession/template.md
      - Prepare: reference/NeatSession/prepare.md
      - Fix: reference/NeatSession/fix.md
      - Mapping: reference/NeatSession/mapping.md
      - Set: reference/NeatSession/set.md
      - Subset: reference/NeatSession/subset.md
      - To: reference/NeatSession/to.md
      - Inspect: reference/NeatSession/inspect.md
      - Show: reference/NeatSession/show.md
      - Drop: reference/NeatSession/drop.md
  - Contributor Docs:
      - Overview: reference/overview.md
      - Issues:
          - Base: reference/issues/base.md
          - Errors: reference/issues/errors.md
          - Warnings:
            -  Main: reference/issues/warnings.md
            -  UserModeling: reference/issues/user_model_warnings.md
  - Changelog: https://github.com/cognitedata/neat/releases

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - abbr
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: "#"

plugins:
  - mkdocs-jupyter:
      execute: false
      ignore_h1_titles: True
      include_source: True
      remove_tag_config:
        remove_input_tags:
          - hide
  - glightbox:
      width: 100%
      height: auto
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: true
            show_source: false
            members_order: source
  - autorefs
  - search
