site_name: NEAT
docs_dir: docs
use_directory_urls: false
theme:
  name: material
  features:
    - content.code.copy
    - content.tooltips
  logo: artifacts/figs/logo.png
  favicon: artifacts/figs/logo.png
  palette:
    primary: indigo

nav:
  - Home: index.md
  - Getting Started: installation.md
  - Validations:
      - Ai_Readiness (NEAT-DMS-AI-READINESS): validation/index.html#ai_readiness-neat-dms-ai-readiness
      - Connections (NEAT-DMS-CONNECTIONS): validation/index.html#connections-neat-dms-connections
      - Consistency (NEAT-DMS-CONSISTENCY): validation/index.html#consistency-neat-dms-consistency
      - Containers (NEAT-DMS-CONTAINER): validation/index.html#containers-neat-dms-container
      - Limits (NEAT-DMS-LIMITS): validation/index.html#limits-neat-dms-limits
      - Views (NEAT-DMS-VIEW): validation/index.html#views-neat-dms-view
  - Data Modeling:
      - Principles: data_modeling/principles.md
      - Modes: data_modeling/modes.md
      - Data Modeling in Excel:
        - Overview: data_modeling/excel/data_model.md
        - Physical Data Model:
            - Overview: data_modeling/excel/physical/overview.md
            - Reference: data_modeling/excel/physical/reference.md
            - Properties: data_modeling/excel/physical/properties.md
            - Views: data_modeling/excel/physical/views.md
            - Enum: data_modeling/excel/physical/enum.md
            - Units: data_modeling/excel/physical/units.md
  - Reference:
    - NeatSession: reference/session.md
    - NeatConfig: reference/config.md
  - Known Issues: known_issues.md
  - About:
    - History: history.md
    - Authors: authors.md
    - Roadmap: roadmap.md
    - Changelog: https://github.com/cognitedata/neat/releases


  - Legacy Docs (v0.x):
    - Tutorials:
        - Introduction:
            - Introduction: tutorials/legacy/introduction/introduction.ipynb
        - Data Modeling:
          - My First Data Model: tutorials/legacy/data-modeling/cold_start.ipynb
          - From Conceptual to Physical Data Modeling: tutorials/legacy/data-modeling/from-conceptual-to-physical-via-CDM.ipynb
    - NeatSession:
        - Session: reference/legacy/NeatSession/base.md
        - Read: reference/legacy/NeatSession/read.md
        - Template: reference/legacy/NeatSession/template.md
        - Prepare: reference/legacy/NeatSession/prepare.md
        - Fix: reference/legacy/NeatSession/fix.md
        - Mapping: reference/legacy/NeatSession/mapping.md
        - Set: reference/legacy/NeatSession/set.md
        - Subset: reference/legacy/NeatSession/subset.md
        - To: reference/legacy/NeatSession/to.md
        - Inspect: reference/legacy/NeatSession/inspect.md
        - Show: reference/legacy/NeatSession/show.md
        - Drop: reference/legacy/NeatSession/drop.md

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - abbr
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: "#"

plugins:
  - mkdocs-jupyter:
      execute: false
      ignore_h1_titles: True
      include_source: True
      remove_tag_config:
        remove_input_tags:
          - hide
  - glightbox:
      width: 100%
      height: auto
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: true
            show_source: false
            members_order: source
  - autorefs
  - search
