[tool.poetry]
name = "cognite-neat"
version = "0.25.9"
readme = "README.md"
description = "Knowledge graph transformation"
authors = ["Nikola Vasiljevic <nikola.vasiljevic@cognite.com>",
    "Anders Albert <anders.albert@cognite.com>",
    "Aleksandrs Livincovs <aleksandrs.livincovs@cognite.com>"]
license = "Apache-2.0"
documentation = "https://cognite-neat.readthedocs-hosted.com/"
homepage = "https://cognite-neat.readthedocs-hosted.com/"
repository = "https://github.com/cognitedata/neat"
packages = [
    { include="cognite", from="." },
]
exclude = [
    "cognite/neat/app/ui/neat-app/public/**",
    "cognite/neat/app/ui/neat-app/src/**",
    "cognite/neat/app/ui/neat-app/node_modules/**",
    "cognite/neat/app/ui/neat-app/*.json",
]
[tool.poetry.group.docs.dependencies]
mkdocs-autorefs = "^0.5.0"



[tool.black]
line-length = 120
target_version = ['py311']
include = '\.py$'

[tool.ruff]
# See https://beta.ruff.rs/docs/rules for an overview of ruff rules
line-length = 120
target-version = "py311"
exclude = ["examples","examples-pydantic-v1", "scripts"]
select = ["E","W","F","I","RUF","TID","UP", "B", "FLY", "PTH", "ERA"]
fixable = ["E","W","F","I","RUF","TID","UP", "B", "FLY", "PTH", "ERA"]
fix = true
ignore = []

[tool.ruff.isort]
known-third-party = ["cognite.client"]

[tool.mypy]
explicit_package_bases = true
allow_redefinition = true


[tool.poetry.scripts]
neat = "cognite.neat.app.main:run"


[tool.poetry.dependencies]
python = ">=3.11,<3.12"
pandas = "*"
rdflib = "*"
pydantic = "^2"
PyYAML = "*"
requests = "*"
urllib3 = "^1.26"

uvicorn = {extras = ["standard"], version = "^0.21.0"}
prometheus-client = "^0.17.0"
cognite-sdk = "^6"
deepdiff = "*"
fastapi = "^0.100"
schedule = "^1"
python-multipart = "^0.0.6"
oxrdflib = {version = "^0.3.3", extras = ["oxigraph"]}

openpyxl = {version="*", optional=true}

gspread = {version="*", optional=true}
google-api-python-client = {version="*", optional=true}
google-auth-oauthlib = {version="*", optional=true}

mkdocs =  {version="*", optional=true}
mkdocs-jupyter = {version="*", optional=true}
mkdocs-material-extensions = {version="*", optional=true}
mkdocs-git-revision-date-localized-plugin = {version="*", optional=true}
mkdocs-git-authors-plugin = {version="*", optional=true}
mkdocs-gitbook = {version="*", optional=true}
mkdocs-glightbox = {version="*", optional=true}
pymdown-extensions = {version="*", optional=true}
mkdocstrings = {version="*", optional=true, extras=["python"]}
jinja2 = {version = "^3.1.2", optional=true}

[tool.poetry.extras]
docs = ["mkdocs", "mkdocs-jupyter", "mkdocs-material-extensions", "mkdocs-git-revision-date-localized-plugin", "mkdocs-git-authors-plugin", "mkdocs-gitbook", "mkdocs-glightbox", "pymdown-extensions", "mkdocstrings"]
google = ["gspread", "google-api-python-client", "google-auth-oauthlib"]
excel = ["openpyxl"]
graphql = ["jinja2"]
all = ["gspread", "google-api-python-client", "google-auth-oauthlib", "openpyxl", "jinja2"]

[tool.poetry.dev-dependencies]
twine = "*"
pytest = "*"
pytest-cov = "*"
pytest-notebook = "*"
pre-commit = "*"
safety = "*"
bandit = "*"
jupyter = "*"
pytest-regressions = "*"
memray = [{version = "^1.7", platform = "darwin"},
            {version = "^1.7", platform = "linux"}]
httpx = "*"
mypy = "^1.4"
pandas-stubs = "^2"
types-PyYAML = "^6"
types-openpyxl = "^3"
types-requests = "^2"
types-setuptools = "^68"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
