name: Check Quality and Test

on:
  pull_request:
    branches: [main]

env:
  # Used for linting, docker images, and docs.
  MAIN_PYTHON_VERSION: 3.11


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      # The installation is required as mypy must be run in the local system environment, not in the pre-commit environment.
      - name: Install required dependencies
        run: |
          uv sync --all-extras

      - name: Linting and static code checks
        continue-on-error: true
        id: pre-commit-first-run
        run: |
          pre-commit run --all-files

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        id: auto-commit-action
        with:
          create_branch: false
          commit_message: Linting and static code checks

      # If the first run failed, run the checks again to ensure that the changes are correct.
      - name: Linting and static code checks try 2
        if: steps.pre-commit-first-run.outcome != 'success'
        run: |
          pre-commit run --all-files

  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          # Python 3.11 is assumed to be covered by testing 3.10 and 3.12
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v3
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('uv.lock') }}

      - run: uv sync --all-extras

      - name: Run unit tests
        run: export PYTHONPATH=$PYTHONPATH:$(pwd); uv run pytest tests/tests_unit

  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade --upgrade-strategy eager --no-cache-dir .[docs]

      - name: Build documentation
        run: |
          mkdocs build



  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('uv.lock') }}

      - run: uv sync --all-extras

      - name: Create test coverage report
        env:
          CDF_CLUSTER: ${{ vars.CDF_CLUSTER }}
          CDF_PROJECT: ${{ vars.CDF_PROJECT }}
          IDP_CLIENT_ID: ${{ vars.IDP_CLIENT_ID }}
          IDP_CLIENT_SECRET: ${{ secrets.IDP_CLIENT_SECRET }}
          IDP_TENANT_ID: ${{ vars.IDP_TENANT_ID }}
        run: export PYTHONPATH=$PYTHONPATH:$(pwd); uv run pytest --cov=cognite/ --cov-config=pyproject.toml --cov-report=xml:coverage.xml tests/

      - name: Push coverage report to PR
        uses: orgoro/coverage@v3.1
        with:
            coverageFile: coverage.xml
            token: ${{ secrets.GITHUB_TOKEN }}
            thresholdAll: 0.9
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: cognitedata/neat

  validate-description:
    name: Validate PR description
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install core dependencies
        run: uv sync --all-extras
      - name: Dump description to file
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const description = context.payload.pull_request.body;
            fs.writeFileSync('last_git_message.txt', description);
      - name: Validate Changelog section in PR description
        run: uv run python dev.py changelog

  build_and_test_jupyter_pyodide:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Build package using uv
        run: uv build
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"
      - name: Install dependencies
        run: npm install pyodide@0.27.6 # JupyterLite currently using pyodide 0.26.2
      - name: Install neat in pyodide environment
        run: |
          whl_file=$(find dist -name "*.whl" | sed 's|^dist/||') # Find the built wheel file, remove dist/ prefix
          echo "Found built wheel file: $whl_file"
          NEAT_FILE_PATH=$whl_file \
          PACKAGES="[\"pyodide-http\", \"pandas\", \"typing-extensions>=4.14.0\", \"http://localhost:3000/dist/$whl_file\"]" \
          node test-pyodide.js