---
name: release

on:
  push:
    branches:
      - main
      # Temp while fixing the workflow.
      - fix-failing-release-workflow

env:
  PYTHON_VERSION: '3.11'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: pre-commit/action@v2.0.0

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install core dependencies
        run: |
          python3 -m pip install --upgrade pip poetry
          poetry config virtualenvs.create false
          poetry install

      - name: Test
        env:
          CI: 1
        run: pytest

      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml

      - name: Build package
        run: poetry build

# Comment in when token is added and ready for release
#      - name: Release to PyPI
#        env:
#          TWINE_USERNAME: __token__
#          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
#        run: twine upload --verbose dist/* || echo 'Version exists'
